.btn {
    width: 40px;
    height: 10px;
}

.note {
    border: 1px solid white;
    float: left;
    width: 100%;
    height: 10px;
}

.prev {
    width: 1000px;
    height: 200px;
    background-color: black;
    color: darkgray;
    font-size: xx-large;
    position: relative;
}

.current {
    width: 1000px;
    height: 200px;
    background-color: chartreuse;
    color: white;
    position: relative;
    font-size: xx-large;
}

.next1,
.next2 {
    width: 1000px;
    position: relative;
    height: 200px;
    background-color: darkgreen;
    color: white;
    font-size: xx-large;
}

.good {
    color: chartreuse;
}

.bad {
    color: red;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: calc(100%-1rem);
    height: calc(100%-1rem);
    background-color: black;
    color: white;
    position: relative;

}

body {
    padding: 1rem;
    margin: 1rem;
    color: white;
    font-size: small;
    height: 100%;
}

.media-flex {
    display: flexbox;
    width: 65%;
    padding: 0.3rem;
}

.media {
    width: 25px;
    display: inline-block;
    border: 1px solid chartreuse;
    color: white;
    text-align: center;
}

.t {
    width: 12.5px;
    display: inline-block;
}

.u {

    border: 1px solid gray;
}

.shift {
    display: inline-block;
    width: 12.5px;
    border: 1px solid cyan;
}

@keyframes blink {
    0% {
        filter: invert(0);
    }

    50% {
        filter: invert(1);
    }

    100% {
        filter: invert(0);
    }
}

.blink-animation {
    animation: blink 10ms infinite;
}

#test {
    animation: up none 180s;
    width: 100%;
    height: auto;
    overflow: hidden;
    color: white;
}


@keyframes up {
    0% {}

    100% {}
}

@keyframes down {
    0% {
        filter: invert(1);
    }

    100% {
        filter: invert(0);
        top: 100%;
    }
}

@keyframes down1 {
    0% {
        filter: invert(1);
        top: 0;
    }

    100% {
        filter: invert(0);
        top: 100%;
    }
}

@keyframes down2 {
    0% {
        filter: invert(1);
        top: 0;
    }

    100% {
        filter: invert(0);
        top: 100%;
    }
}

@keyframes down3 {
    0% {
        filter: invert(1);
        top: 0;
    }

    100% {
        filter: invert(0);
        top: 100%;
    }
}

@keyframes down4 {
    0% {
        filter: invert(1);
        top: 0;
    }

    100% {
        filter: invert(0);
        top: 100%;
    }
}

@keyframes down5 {
    0% {
        filter: invert(1);
        top: 0;
    }

    100% {
        filter: invert(0);
        top: 100%;
    }
}

@keyframes down6 {
    0% {
        filter: invert(1);
        top: 0;
    }

    100% {
        filter: invert(0);
        top: 100%;
    }
}

@keyframes down7 {
    0% {
        filter: invert(1);
        top: 0;
    }

    100% {
        filter: invert(0);
        top: 100%;
    }
}

@keyframes down8 {
    0% {
        filter: invert(1);
        top: 0;
    }

    100% {
        filter: invert(0);
        top: 100%;
    }
}

.line-1 {
    background-color: red;
    width: 25px;
    height: 10px;
    position: absolute;
    left: 25px;
    top: 0px;
    animation: down1 1s none;
}

.line-2 {
    background-color: orange;
    width: 25px;
    height: 10px;
    position: absolute;
    left: 50px;
    top: 0px;
    animation: down2 1s none;
}

.line-3 {
    background-color: yellow;
    width: 25px;
    height: 10px;
    position: absolute;
    left: 75px;
    top: 0px;
    animation: down3 1s none;

}

.line-4 {
    background-color: blue;
    width: 25px;
    height: 10px;
    position: absolute;
    left: 100px;
    top: 0px;
    animation: down4 1s none;
}

.line-5 {
    background-color: blue;
    width: 25px;
    height: 10px;
    position: absolute;
    left: 125px;
    top: 0px;
    animation: down5 1s none;
}

.line-6 {
    background-color: chocolate;
    width: 25px;
    height: 10px;
    position: absolute;
    left: 150px;
    top: 0px;
    animation: down6 1s none;
}

.line-7 {
    background-color: cyan;
    width: 25px;
    height: 10px;
    position: absolute;
    left: 175px;
    top: 0px;
    animation: down7 1s none;
}

.line-8 {
    background-color: magenta;
    width: 25px;
    height: 10px;
    position: absolute;
    left: 200px;
    top: 0px;
    animation: down8 1s none;
}
#rythm-sheet{
    transform:rotate(90deg);
    margin-top:50%;
    margin-left:5%;
}